.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.min-height {min-height: 75%;}
.start {justify-content: flex-start;}
.column {
  justify-content: flex-start;
  flex-direction: column;
}
.project_card_align {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 3em;
}